@import url
('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

*{

	padding: 0;
	margin: 0;
}

header{
	padding-left: 50em;
	margin:10px;
	

	
}

*nav{
	color:#232420;

}

body{ 
	font-family: 'Source Sans Pro', Arial, sans-serif;
	background: url(images/rosaparks.png);
	padding: 68px;
	background-position: center;
	color: #222222;
	line-height: 2em;
}

